<h1>This is the todo html page</h1>

<!-- <ul>
	<li>temporary todo item A</li>
	<li>temporary todo item B</li>
</ul> -->

<ol>
	{% for todo_item in all_items %}
		<li>{{ todo_item.content }}
			<form action="/deleteTodo/{{todo_item.id}}/" 
					style="display: inline;"
					method="post">{% csrf_token %}
				<input type="submit" value="Delete"/>
			</form>
		</li>
	{% endfor %}
</ol>

<form action="/addTodo/" method="post">{% csrf_token %}
	<input type="text" name="content"/>
	<input type="submit" value="Add"/>
</form>

