{% extends 'base.html' %}

{% block content %}
	<!-- aus getbootstrap: für Mitteilungen -->
	{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
				<small><sup>x</sup></small>
			</button>
			{{ message }}
		</div>
	{% endfor %}

{% endif %}

{% if all_items %}
	<table class="table table-bordered">
	{% for things in all_items %}
		{% if things.completed %}
			<tr class="table-secondary"> <!-- class für bootstrap, um Farbe zu ändern, wenn etwas abgehakt wird -->
				<td class="striker">{{ things.item }}</td>
				<td class="striker">{{ things.menge }}</td>
				<td><center><a href="{% url 'uncross' things.id %}">Rückgängig</a></center></td>
				<td><center><a href="{% url 'delete' things.id %}">Entfernen</a></center></td>
			</tr>
		{% else %}
			<tr>
				<td>{{ things.item }}</td>
				<td>{{ things.menge }}</td>
				<td><center><a href="{% url 'cross_off' things.id %}">Erledigt</a></center></td>
				<td><center><a href="{% url 'delete' things.id %}">Entfernen</a></center></td>
			</tr>
		{% endif %}

	{% endfor %}
	</table>
{% endif %}


{% endblock %}