<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Zahlen Raten</title>
</head>
<body>
    
    <h1>Zahlen raten</h1>
    <p>An welche Zahl denke ich?</p>
    <form action="/AddNumber/" method="post">{% csrf_token %}
        <input type="integer" name="content"/>
        <input type="submit" value="Eingabe"/>
    </form>

</body>
</html>